@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('digital-7.regular.ttf') format('woff');
    }


$bgColor: #b3cea3;
$bgShadow: #648351;
$calcBodyColor: #826070;
$calcShadow: #5a2c42;
$calcBodyHighlight: rgb(197, 159, 177, 0.7);
$btnsColor: #e4e5f0;
$btnsShadow: #a9aab9;
$btnsSpecial: #d6943d;
$btnsSpecialShadow: #99631c;
$textColor: #703f57;
$textColorTwo: #535850;
$screenColor: #c6d4be;
$screenShadow: #98ac8c;


body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
}

.main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcshadow {
    border-radius: 12px;
}

.div-calcbody {
    background-color: $calcBodyColor;
    box-shadow: inset 3px 3px 7px $calcBodyHighlight, inset -3px -3px 7px $calcShadow;
    border: 2px solid $calcBodyColor;
    height: 40vh;
    aspect-ratio: 3/4;
    border-radius: 12px;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
}

.div-screen { 
    background-color: $screenColor;
    box-shadow: inset 0px 6px 6px $screenShadow;
    border-radius: 8px;
    height: 20%;
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    font-family: 'Digital Numbers Regular';
    font-size: 4Svh;
    color: $textColorTwo;
    display: flex;
    align-items: center;
    justify-content: end;
}

.div-btnholder {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bntTOP {
    aspect-ratio: 8/3;
}

.btn-calc {
    background-color: $btnsColor;
    box-shadow: inset -3px -3px 3px $btnsShadow, 2px 2px 2px $calcShadow;
    border-radius: 4px;
    border: none;
    height: 90%;
    aspect-ratio: 5/4;
    color: $textColor;
    font-family: 'Kanit', sans-serif;
    font-size: 3vh;
    font-weight: 400;
}


.btn-calc:hover {
    background-color: $btnsShadow;
    box-shadow: inset -3px -3px 3px #838596, 2px 2px 2px $calcShadow;

}

.btn-special {
    background-color: $btnsSpecial;
    color: $btnsColor;
    box-shadow: inset -3px -3px 3px $btnsSpecialShadow, 2px 2px 2px $calcShadow;
}

.btn-special:hover{
    background-color: $btnsSpecialShadow;
    box-shadow: inset -3px -3px 3px #6e430b, 2px 2px 2px $calcShadow;
}


.footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px $bgShadow;
}

.fa-github {
    color: white;
    transition: transform 0.3s ease-in-out;
    font-size: 22px;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
